In [2]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from google.colab import drive
import os

In [4]:
drive.mount('/content/drive')
print(os.getcwd())
os.chdir(os.getcwd() + '/drive/MyDrive/Colab Notebooks')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content

['Test_SKLearn_Cross_Val.ipynb',
 'datasets',
 'iris_tree.dot',
 'Test_Iris_Decision_Tree.ipynb',
 'Test_House_Prices_Linear_Reg.ipynb',
 'Test_Logistic_Reg.ipynb']

# 1. Data Processing

In [7]:
df = pd.read_csv('datasets/Social_Network_Ads.csv')
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [13]:
print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB
None
            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

# 2. Data Preparation
Tranforming categorial data to numerical data

In [24]:
  df = pd.get_dummies(df)
  df

      User ID  Age  EstimatedSalary  Purchased  Gender_Female  Gender_Male
0    15624510   19            19000          0              0            1
1    15810944   35            20000          0              0            1
2    15668575   26            43000          0              1            0
3    15603246   27            57000          0              1            0
4    15804002   19            76000          0              0            1
..        ...  ...              ...        ...            ...          ...
395  15691863   46            41000          1              1            0
396  15706071   51            23000          1              0            1
397  15654296   50            20000          1              1            0
398  15755018   36            33000          0              0            1
399  15594041   49            36000          1              1            0

[400 rows x 6 columns]

Dividing between attributs (X) and label (y)

In [15]:
X = df[['Age', 'EstimatedSalary', 'Gender_Female', 'Gender_Male']]
y = df['Purchased']

**Standardization** using StandardScaler()

In [16]:
scaler = StandardScaler()
scaler.fit(X)
scaled_data = scaler.transform(X)
scaled_data = pd.DataFrame(scaled_data, columns=X.columns)
scaled_data

          Age  EstimatedSalary  Gender_Female  Gender_Male
0   -1.781797        -1.490046      -1.020204     1.020204
1   -0.253587        -1.460681      -1.020204     1.020204
2   -1.113206        -0.785290       0.980196    -0.980196
3   -1.017692        -0.374182       0.980196    -0.980196
4   -1.781797         0.183751      -1.020204     1.020204
..        ...              ...            ...          ...
395  0.797057        -0.844019       0.980196    -0.980196
396  1.274623        -1.372587      -1.020204     1.020204
397  1.179110        -1.460681       0.980196    -0.980196
398 -0.158074        -1.078938      -1.020204     1.020204
399  1.083596        -0.990844       0.980196    -0.980196

[400 rows x 4 columns]

# 3. Data Train and Test Splitting

In [21]:
X_train, X_test, y_train, y_test = train_test_split(scaled_data, y, test_size=0.2, random_state=1)

#4. Data Modelling
with LogisticRegression()

In [22]:
model = LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

# 5. Data Evaluation

In [25]:
print('The accuracy of the model is', model.score(X_test, y_test))

The accuracy of the model is 0.825